<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <!--  <script src="/js/jquery.js"></script>-->
</head>

<!--  우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
  <table class="table m-2">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" th:text="${dto.id}">1</th>
      <td th:text="${dto.title}">제목111</td>
      <td th:text="${dto.content}">내용 1111</td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/articles/{id}/update(id=${dto.id})}" class="btn btn-primary">Edit</a>
  <a th:href="@{/articles/{id}/delete(id=${dto.id})}" class="btn btn-danger">Delete</a>
  <a href="/articles">Go to Article List</a>
  <br><br>
  <div class="card m-2" th:each="comment : ${dto.comments}"
          th:object="${comment}">
    <div class="card-header">
      <span th:text="*{nickname}">Featured</span>
      <a class="btn btn-sm btn-outline-primary" id="comment-update-btn">수정</a>
      <a class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>
      <input type="hidden" th:value="*{id}">
    </div>
    <div class="card-body">
      <p class="card-text" th:text="*{body}">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <form th:action="@{/articles/{id}/comments(id=${dto.id})}" method="post">
    <!-- 닉네임 입력-->
    <div class="m-2">
      <label class="form-label">닉네임</label>
      <input type="text" class="form-control"
             id="new-comment-nickname" name="nickname">
    </div>
    <!-- 댓글 본문 입력-->
    <div class="m-2">
      <label class="form-label">댓글 내용</label>
      <textarea type="text" class="form-control" rows="3"
                id="new-comment-body" name="body"></textarea>
    </div>
    <!-- 전송버튼-->
    <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
  </form>
  <script th:inline="javascript">
    $(document).ready(function(){
      $(document).on("click", "#comment-delete-btn", function(){
        let commentId = $(this).next().val();
        location.href = '/articles/comments/' + commentId;
      });

      $("#comment-create-btn").on("click", function(){
        event.preventDefault();
        if($("#new-comment-nickname").val() == ""){
          alert("닉네임 입력하세요");
          $("#new-comment-nickname").focus();
          return;
        }
        if($("#new-comment-body").val() == ""){
          alert("내용 입력하세요");
          $("#new-comment-body").focus();
          return;
        }
        $("form").submit();
      });

      $(document).on("click", "#comment-update-btn", function(){
        let commentId = $(this).next().next().val();
        location.href = '/articles/comments/view/' + commentId
      });

    })
  </script>
</div>

</body>
</html>